<?xml version="1.0"?>
<!--Launch file to start the omron base-->
<launch>
  <node pkg="ros_omron_driver" type="omron_laser_node" name="lasers" output="screen" respawn="false" respawn_delay="0">
    <param name="user" type="str" value="steve"/>
  </node>
  <node pkg="ros_omron_driver" type="robot_status_node" name="status" output="screen" respawn="false" respawn_delay="0">
    <param name="user" type="str" value="steve"/>
  </node>
  <node pkg="ros_omron_driver" type="map_node" name="map" output="screen" respawn="true" respawn_delay="0">
    <param name="user" type="str" value="steve"/>
  </node>
</launch>